# ------------------------------
# Python Bytecode
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environments
# ------------------------------
venv/
env/
ENV/
.venv/

# ------------------------------
# Distribution / Packaging
# ------------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment Variables
# ------------------------------
.env
.env.*

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# PyCharm / JetBrains
# ------------------------------
.idea/

# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Testing
# ------------------------------
.coverage
htmlcov/
.pytest_cache/

# ------------------------------
# MyPy
# ------------------------------
.mypy_cache/

# ------------------------------
# PyInstaller
# ------------------------------
*.spec

# ------------------------------
# Temporary Files
# ------------------------------
*.tmp
*.temp